@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .mainHead{
            background-image: url('/pexels-kevin-ku-577585.jpg');
            background-size: cover;
            margin: -27px 16em 2em -3em;
            width: 1560px;
            color: white;
            font-size: 3em;
            padding: 6em 0em 3em 3em;
        }

        .data-MKPITS {
            font-size: 24px;
        }

        .button-mkpits-get_started {
            text-decoration: none;
            color: white;
            border: 2px solid white;
            border-radius: 33px;
            padding: 10px 52px 10px 44px;
            font-size: 17px;
            border-width: 2px;
        }

        .about-image {
            width: 38em;
            margin-left: 1em;
        }

        #para {
            font-family: initial;
            font-size: 18px;
        }

        .image-list {
            list-style-type: none;
            margin: 2px 2px 2px -33px;
        }

        .tick-image {
            width: 1em;
            margin-right: 3px;
        }

        #number-grid-inner {
            background-color: #d3d3d34f;
            margin-left: -9em;
            margin-right: -8em;
            padding: 3em 0em 3em 8em;
        }

        .number-bold {
            font-weight: bold;
            color: green;
        }

        .num-2-1 {
            padding-left: 8px;
        }

        #num-2-2 {
            padding-left: 40px;
        }

        #num-3-3 {
            padding-left: 38px;
        }

        #num-4-4 {
            padding-left: 22px;
        }

        #add-1-1 {
            background-color: green;
            padding-right: 3%;
            padding-bottom: 5%;
            color: white;
        }

        .reason-1 {
            padding-left: 11px;
            padding-top: 16px;
            font-weight: bolder;
            font-size: 33px;
        }

        .par-reason-2-1 {
            padding-left: 1em;
        }

        .learn_more-link {
            border: 2px solid white;
            margin: 6em 6em 2em 101px;
            padding: 10px 50px 15px 50px;
            background-color: #ffffff42;
            color: white;
            text-decoration: none;
            border-radius: 2em;
            font-weight: bold;
            border:none;
        }

        .button-mkpits-get_started:hover {
            background-color: green;
            color: white;
            transition: ease-in 0.3s;
            border:none;
        }

            .learn_more-link:hover {
                background-color: white;
                transition: ease-in 0.2s;
                color: green;
        }

        #add-1-2 {
            background-color: pink;
        }

        #add-1-3 {
            background-color: yellow;
        }

        #add-1-4 {
            background-color: orange;
        }

        #add-1-2,#add-1-3,#add-1-4{
            background-color: white;
            text-align: center;
            padding-top: 5em;
        }

        hr:not([size]) {
            height: 1px;
            margin-left: 10em;
            width: 7em;
            margin-top: -1em;
            color: green;
        }

        .testimonial {
            font-size: 20px;
            color: #80808096;
            font-weight: bold;
        }

        .testimony-title {
            font-weight: bold;
            color: #000000bd;
        }
    </style>
</head>

<div class="mainHead">
<h1 >
    Learning Today, <br />
    Leading Tommorrow
</h1>
    <p class="data-MKPITS">We are a team of highly experienced people helping freshers to secure job in IT.</p>
    <a href="getstarted" class="button-mkpits-get_started">Get Started</a>
</div>

@*Grid *@
<div class="container">
    <div class="row">
        <div class="col-sm" id="para">
            <i><b>MKP IT Services</b> is a leading training, job and staffing services provider in Nagpur. We have over a decade of presence now. Previously we were known as <b>MK Placements and Education Services</b> We also provide services in Pune, Hyderabad, Bangalore, Mumbai, Indore, Bhopal and more cities. Our valuable services are:</i>
            <br />
            <br />
            <ul class="image-list">
                
                  <li><img src= "~/NicePng_tick-mark-png_9251378.png" class="tick-image"/><b>Training and Internship:</b>We conduct high end training and provide intership program to freshers to strengthen them with corporate required skills              </li>
                  <li><img src= "~/NicePng_tick-mark-png_9251378.png" class="tick-image" /><b>Campus Placement Services:</b>We conduct placements services for freshers, skilled and semi-skilled candidates                                                    </li>
                  <li><img src= "~/NicePng_tick-mark-png_9251378.png" class="tick-image" /><b>Lateral Placement Services:</b>Placement services for junior, mid level and senior level recruitment                                                              </li>
                  <li><img src="~/NicePng_tick-mark-png_9251378.png" class="tick-image" /><b>Job fairs at College Level:</b>Conduct job fairs for aspiring students at college level                                                                           </li>
                  <li><img src="~/NicePng_tick-mark-png_9251378.png" class="tick-image" /><b>Campus Recruitment Training:</b>We conduct workshops on soft skills, written skills, mock interview preparations and training, personality development training</li>
                
            </ul>
            <br />
            We provide excellent Placement Consultancy to our clients. Understanding the requirements and skills of our job seekers, we guide them in order to assure their maximum satisfaction. Our Placement Consultancy provides a correct guiding path to the aspirants that will help them grow at the individual as well as professional level.
            <br />
            <br />
            We carefully evaluate the skills, talent and interest of our aspirants and accordingly advice them with the best companies and job profiles. Our team is well upgraded with the latest and up to date developments taking place in diverse industries which helps in providing the most effective and productive outcomes.
            <br />
            <br />
            We have had a successful track record of meeting the vast manpower requirements of varied industries. In fact, we excel in providing correct direction in case of overseas placement by providing prospective options to the job seekers that facilitate smooth overseas placement of our aspirants. We divert all our efforts in ensuring maximum customer satisfaction.
            <br />
            <br />
        </div>
        <div class="col-sm">
            <img src="~/about.jpg" class="about-image"/>
        </div>
        
        @*Grid for the numbers*@
        <div class="container" id="number-grid-outer" width="100%">
            <div class="row" id="number-grid-inner">
                <div class="col-sm" id="num-1">
                    <h1 class="number-bold" align="left" id="num-1-1">10,321</h1>
                    <span class="num-2-1">Students Placed</span>
                </div>
                <div class="col-sm" id="num-2">
                    <h1 class="number-bold" id="num-2-2">9</h1>
                    <span class="num-2-2">Years of Service</span>
                </div>
                <div class="col-sm" id="num-3">
                    <h1 class="number-bold" id="num-3-3">42</h1>
                    <span class="num-2-3">Events Conducted</span>
                </div>
                <div class="col-sm" id="num-4">
                    <h1 class="number-bold" id="num-4-4">32</h1>
                    <span class="num-2-4">Client Tieups</span>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />

    @*Grid for Additional Information*@
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="add-1-1" width="25%">
                <h1 class="reason-1">Why Choose MKP IT Services?</h1>
                <br />
                <p class="par-reason-2-1" >We have a rich experience in training and placement with specialization in IT. We are backed by the industry experienced professional. We provide intership with 100% job guarantee with easy 0% EMI options. We provide lifetime membership where candidates can get free upgrade on the courses for lifetime. We have tie-up with reputed engineering colleges in Maharashtra, Chattisgarh, Madhya Pradesh for placement activities. </p>
                <br />
                <br />
                <a href="learnmore" class="learn_more-link">Learn More  ></a>
            </div>
            <div class="col-sm" id="add-1-2">
                <img src="~/Screenshot 2023-06-25 at 23-01-46 MKP IT Services.png" /><br /><br />
                <h5><b>Training and <br /> Placement</b></h5><br />
                <p class="training-details" style="color:gray;">IT Intership with 100% job guarantee on easy 100% finance scheme with 0% interest EMI</p>

            </div>
            <div class="col-sm" id="add-1-3">
                <img src="~/Screenshot 2023-06-25 at 23-15-18 MKP IT Services.png" /><br /><br />
                <h5><b>Admission<br />Consultancy</b></h5><br />
                <p class="training-details" style="color:gray;">We handle admission for engineering, nursing, medical for colleges all over India and abroad</p>

            </div>
            <div class="col-sm" id="add-1-4">
                <img src="~/Screenshot 2023-06-25 at 23-18-52 MKP IT Services.png" /><br /><br />
                <h5><b>Software<br />Development</b></h5><br />
                <p class="training-details" style="color:gray;">We are a product based IT company where we have developed our in-house software</p>

            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <h6 class="testimonial">TESTIMONIALS</h6><hr class="line"/>
    <h1 class="testimony-title">WHAT ARE THEY SAYING</h1>
</div>