@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        .mainHead{
            background-image: url('/pexels-kevin-ku-577585.jpg');
            background-size: cover;
            margin: -1em 3em 2em -7em;
            width: 37em;
            color: white;
            font-size: 3em;
            padding: 3em 2em 3em 7em;
        }

        .data-MKPITS {
            font-size: 24px;
        }

        .button-mkpits-get_started {
            text-decoration: none;
            color: white;
            border: 2px solid white;
            border-radius: 33px;
            padding: 10px 52px 10px 44px;
            font-size: 22px;
            border-width: 2px;
        }
    </style>
</head>

<div class="mainHead">
<h1 >
    Learning Today, <br />
    Leading Tommorrow
</h1>
    <p class="data-MKPITS">We are a team of highly experienced people helping freshers to secure job in IT.</p>
    <a href="getstarted" class="button-mkpits-get_started">Get Started</a>
</div>