a{
	text-decoration:none;
	color:black;
	font-size:22px;
	font-family:"Poppins", sans-serif;
	}
td{
	word-spacing:40px;
	padding-top: 10px;
    padding-left: 7px;
	}
img{
	margin: -10px 2px 3px 56px;
    	font-size: 25px;
	width:100px;
	}
h2{
	text-align:center;
	font-size:32px;
	font-family:"Raleway", sans-serif;	
	background-color: #009933;
    	color: white;
	padding-bottom: 28px;
    	padding-top: 10px;
	margin-left: -9px;
    	margin-right: -41px;
	margin-top: 2px;
	}
/*.about p{
		word-spacing:2px;
		margin-top: -238px;
 	   	padding-left: 50px;
		margin-right: 3px;
		text-align: justify;
		}
.about img{
		margin: 27px 2px 2px 9px;
 		width: 97%;
    		height: 620px;
		}
*/

.about, .left, .right { 
	float : left;
		}	
.right img{
	width: 102%;
    	margin-left: 2%;
		}
.left{
	margin-left: 4%;
	font-family:"Raleway", sans-serif;
	text-align: start;
	}
.right{
	padding-right:2%;
	}
#count{
	background-color: #eef0f0;
    	height: 27%;
    	width: 103%;
	     }
thead h1{
    color: green;
    margin-bottom: 2px;
    font-size: 55px;
		}
thead{
	font-family: "Raleway", sans-serif;
    	font-size: 15px;
    	font-weight: 600;
    	color: #37423b;
		}
.about {
    margin-bottom: 7%;
}
.testimonial h3,.testimonial h1{
		margin-left: 5%;
    		color: lightgray;
    		font-weight: lighter;
    		font-family: "Raleway", sans-serif;
    		margin-top: 5%;
		}
.testimonial h1{
		color: black;
    		font-family: "Raleway", sans-serif;
    		margin-top: -19px;
    		font-weight: 900;
		font-size:37px;
		}







