<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Website.styles.css" asp-append-version="true" />

    <style>
        #MKPITS_logo
        {
            width: 5em;
            margin: 2px 2px 2px 5.4em;
        }

        .nav-item-Courses {
            margin: -31px 0em 2em 0em;
            font-size: 19px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        .nav-item-About {
            margin: 32px 1em 0em 12px;
            font-size: 19px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        .nav-item-Home {
            margin: 32px 1em 0em 26em;
            font-size: 19px;
            font-size: 20px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }

        .navbar-expand-sm .navbar-nav {
            flex-direction: row;
            margin: 3em 0em 2em 2em;
        }

        .dropdown-toggle {
            text-decoration: none;
            color: black;
            font-size: 19px;
        }

        a[b-0sxjuuz4as] {
            color: black;
            font-size: 19px;
        }

        .navbar-expand-sm .navbar-nav .nav-link {
            padding-right: .5rem;
            padding-left: 0.5rem;
        }

        .navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 {
            height: 7em;
            font-size: 19px;
        }

        .nav-item-Admission, .nav-item-JobPlacement, .nav-item-Contact {
            margin: 33px 2em 0em 0em;
            font-size: 19px;
            font-size: 19px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        }
        header{
            position:fixed;
            padding-top:1em;
            margin-bottom:3em;
            margin-right:-2em;
        }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/MKPITS_Logo.png" id="MKPITS_logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item-Home">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item-About">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item-Courses">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Courses">
                                <div class="m-4">
                                    <div class="dropdown" id="dropdown-courses">
                                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Courses</a>
                                        <div class="dropdown-menu">
                                            <a href="#" class="dropdown-item">All Courses</a>
                                            <a href="#" class="dropdown-item">Java</a>
                                            <a href="#" class="dropdown-item">Dotnet</a>
                                            <a href="#" class="dropdown-item">Python</a>
                                            <a href="#" class="dropdown-item">PHP</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="nav-item-Admission">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admission">Admission</a>
                        </li>
                        <li class="nav-item-JobPlacement">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="JobPlacement">Job Placement</a>
                        </li>
                        <li class="nav-item-Contact">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Website - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
