a
{
	text-align: center;
    	margin: 2px 29px 2px 45px;
    	text-decoration: none;
    	color: black;
    	font-family: sans-serif;
    	font-size: 28px;
}

a:hover{
color:aliceblue;
}

#head img
{
padding: 0px 74% 0px 0px;
    	
}
#head
{
	margin: 0px 1px 0px 2px;
    	background-color: cadetblue;
    	padding: 33px 5px 20px 154px;
}
.main{
	background-image: url(Jhansi1.jpg);
    	padding: 84px 2px 54% 1px;
    	margin: 0px 2px 2px 2px;
}

.main h1{
	color: wheat;
    	font-size: 95px;
    	margin: -72px 2px 2px 8px;
    	padding-left: 6px;
}
.main b{
	font-size: 243px;
    	color: cadetblue;
}

.main h2{
	color: antiquewhite;
   	padding: 0px 63% 2px 19px;
    	text-align: -webkit-auto;
}
#intro {
	padding: 41px 19px 2px 19px;
    	font-family: fangsong;
    	color: aliceblue;
    	font-size: 35px;
    	text-align: justify;
	background: rgba(255, 255, 255, 0.2);
		}
#intro h1{
	font-size: 173%;
    	margin-left: 0%;
		}
#family img{
	width: 16%;
    	padding: 74px 2px 2px 11px;
		}





